html, body {
    font-size: 10px ;    
    margin: 10px;
    padding: 10px;
    height: 100%;
    overflow: hidden;
  }
  
  #windowBorder {
    position: fixed;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #sentence {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    text-align: center;
    justify-content: space-between;
  }

  .capitalized-div {
    text-transform: capitalize;
  }

  .word {
    display: inline-block;
    padding: 10px;
    white-space: nowrap;
    background-color: yellow;
    margin: 5px -3px;
  }

  button {
    font-size: 8px;
    position: fixed;
    bottom: 20px;
    text-align: center;
    padding: 5px;
    border: 1px solid blue;
    background-color: blue;
    color: white;
  }

  #logo {
    font-size: 18px;
    position: absolute;
    top: 20px;
    left: 50%
    text-align: center;
  }

  #instructions {
    width: 60%;
    font-size: 8px;
    position: absolute;
    top: 70px;
    left: 50%
    text-align: center;
  }

  #instructions p {
    text-align: center;
    color: gray;
  }


  @media (min-width: 650px) {
    html, body {
      font-size: 18px;
      margin: 18px;
      padding: 18px;
    }
    
    #windowBorder {
      top: 18px;
      right: 18px;
      bottom: 11px;
      left: 18px;
      padding: 18px;
      border: 3px solid red;
    }
    
    #sentence {
      padding-left: 18px;
      padding-right: 18px;
    }
    
    .word {
      padding: 18px;
      margin: 13px -3;
    }
    
    button {
      font-size: 14px;
      bottom: 28px;
      padding: 7px;
      border: 3px solid blue;
    }
    
    #logo {
      font-size: 26px;
      top: 21px;
    }
    
    #instructions {
      font-size: 15px;
      top: 112px;
    }    
  }

  @media (min-width: 1500px) {

    html, body {
      font-size: 25px ;    
      margin: 25px;
      padding: 25px;
    }
    
    #windowBorder {
      top: 25px;
      right: 25px;
      bottom: 15px;
      left: 25px;
      padding: 25px;
      border: 3px solid red;
    }
  
    #sentence {
      padding-left: 25px;
      padding-right: 25px;
    }
  
    .word {
      padding: 25px;
      margin: 15px -3px;
    }
  
    button {
      font-size: 20px;
      bottom: 40px;
      padding: 10px;
      border: 3px solid blue;
    }
  
    #logo {
      font-size: 37px;
      top: 30px;
    }
  
    #instructions {
      font-size: 22px;
      top: 160px;
    }
  }