html, body {
    font-size: 10px ;    
    margin: 10px;
    padding: 10px;
    height: 100%;
    overflow: hidden;
  }
  
  #windowBorder {
    position: fixed;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #sentence {
    width: 100%;
    background-color: yellow;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

  .word {
    display: inline-block;
    padding: 10px;
    white-space: nowrap;
  }

